*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height:30px;
    width:30px;
    border-radius:50px;
}
.top-bar{
    background: #6c63ff;
    color: #fff;
    padding: 10px 40px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 17px;
    gap:10px;
    margin-right:100px;
    width: 100%;
}

.top-actions{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left:200px;
}

.add-btn{
    background: white;
    color: #6c63ff;
    border: none;
    padding: 10px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.top-actions a{
    color: #e0e0e0;
    text-decoration: none;
}

#container {
    display: flex;
    width: 100%;
    height:60px;
    align-items: center;
    justify-content:center;
    gap:50px
}

.logo img {
    width: 186px;
    height: 36px;
    margin-left:30px;
    float:left;
    padding-left:17px;

}


.options ul {
    display: flex;
    gap:20px;
    justify-content: space-evenly;
    list-style: none;
    font-size:  16px;
    margin-right:150px;
}

h1 {
    text-align: center;
    font-size:70px;
    font-weight: bolder;
    color: #6c63ff;
    margin-top:60px;
    text-shadow: -2px -1px 3px #6c63ff;
}

.heroBtn {
    display: flex;
    justify-content: center;
    margin-top:10px;
    gap:5px;
    width:30%;
     border:2px solid gray;
     border-radius: 50px;
     margin-left:auto;
     margin-right: auto;
}

.heroBtn button {
       background: white;
    color: #6c63ff;
    border: none;
    padding: 20px 75px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bolder;
    font-size:30px;
    border:2px solid transparent;
}


.left_btn button:hover{
    background-color: #6c63ff;
    color: #fff;
}

.right_btn button:hover {
    background-color: #009fdb;
    color: white;
}

.hero-para p {

    text-align: center;
    font-size:25px;
    margin-top:30px;
}

.find_btn button {
    display: flex;
     background:#00a0d9;
    color: white;
    border: none;
    padding: 15px 40px;
    border:2px solid transparent;
    border-radius: 40px;
    font-size:16px;
    cursor: pointer;
    font-weight: bold;
    justify-self: center;
    margin-top:20px;
    box-shadow: 2px 4px 10px #00a0d9 ;
}

h6 {
    text-align: center;
    font-size: 40px;
    margin-top:10px;
    color: #6f41ec;
    background-color: white;
}


.btns4 {
display: flex;
justify-content: center;
gap:20px;
margin-bottom:10px;
}


.btns4 button {
    margin-top: 10px;
padding:8px 10px;
   color: #6f41ec;
    background-color:#f2f0ff;
    border-radius:10px;
    font-weight:bolder;
} 

.btns4 button:hover {
    color: #6f41ec;
    background-color: rgb(235, 227, 227);

}


.herosection {
    width: 100%;
    height:1005.64px;
    background-color: #f2f0ff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.img1 {
    display: flex;
    align-items: center;
    width: 998px;
    height: 56px;
    margin-left:10px;
} 

.newbox {
    width: 998.4px;
    height: 278.08px;
    padding: 24px;
}

.para-main {
    box-shadow: #e9d5ff 0px 4px 10px -4px, #e9d5ff 0px 0px 0px 1px;
    width:708px;
    height: 108px;
    /* margin-left:140px; */

}


.box3 {
    width: 998.4px;
    height: 64.8px;
    display: flex;
    /* margin-left:150px; */
    justify-content: center;
    gap:8px;
}

.para1 {
    border:2px solid gray;
    border-radius:20px;
    width: 151px;
    height: 32px;
    text-align: center;
    padding: 2px 2px;
    }
.para2 {
    border:2px solid gray;
    border-radius:20px;
    width: 151px;
    height: 32px;
    text-align: center;
    
    }
.para3 {
    border:2px solid gray;
    border-radius:20px;
    width: 151px;
    height: 32px;
    text-align: center;
    /* gap: 8px; */
    }


    .input-sec {
        width: 998.4px;
        height: 72.8px;
        display: flex;
    }

    input {
        width: 900.4px;
        height: 40px;
        margin-left:10px;
        padding-left:10px;
    }
    .sec-img button {
        align-self: center;
    }
    


   .Ai_assistent {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width:1050px;
    margin-left:120px;
   }

      .hero_img img {
    width:100%;
    height: 350px;
    background-size: 100%;
    background-position: center 220px;
   }

   h3 {
    text-align: center;
    font-size: 40px;
    margin-top:10px;
    color: #6f41ec;
    background-color: white;
    margin:60px;
}


.cards {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    margin:0px -15px;
    padding:20px 0px ;
    gap:20px;

}

.left-card {
    width: 337px;
    height: 450px;
    border: 2px solid black;
    border-radius:10px;
    overflow: hidden;
    
}

.left-card > img {
width: 100%;
height: 100px;
object-fit: cover;
overflow: hidden;
}

.profile > img {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
    border-radius: 100%;
}

.profile {
    margin-left:110px;
    display: inline-block;
    /* position: relative; */
    
}

.data {
    width: 283.4px;
    height: 74px;
}

.data > p {
    text-align: center;
}

.skills {
    width: 283.4px;
    height: 64px;
    margin: 8px 0px 0px;
    padding: 0px 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
    margin-left: 20px;
}

.one {
    padding:2px 9px;
    border: 2px solid grey;
    border-radius: 10px;

}

.Experience {
    width: 283px;
    height: 42px;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left:6px;
}

.year {
   border:2px solid gray;
   border-radius:10px;
   
}

.Review > button {
        /* margin-top: 10px; */
padding:3px 30px;
   color:white;
    background-color:#845bff;
    border-radius:10px;
    font-weight:bolder;
    margin-bottom:5px;
}

.love-sec {
    display: flex;
    justify-content: center;
    margin-top:40px;
}

.DD_cards {
    width: 100%;
    height: 310px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    gap:20px;
}

.card1 img {
    width: 350px;
    height: 250px;
    display: flex;
    border:2px solid gray;
    border-radius:20px;
    
}
.card2 img  {
    width: 350px;
    height: 250px;
    display: flex;
    border:2px solid gray;
    border-radius:20px;
}
.card3 img {
   width: 350px;
    height: 250px;
    display: flex;
    border:2px solid gray;
    border-radius:20px;
}

.hiring_cards {
    width: 100%;
    height: 310px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    gap:20px;
   
}
.Card_One {
     width:400px;
    height:220px;
     border:2px solid gray;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap:5px;
    background-color:#f1eeff;
}
.Card_two {
   width:400px;
    height:220px;
     border:2px solid gray;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap:5px;
    background-color:#f1eeff;
}
.Card_three {
   width:400px;
    height:220px;
     border:2px solid gray;
    border-radius:20px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    background-color:#f1eeff;
}
.Card_four {
  width:400px;
    height:220px;
     border:2px solid gray;
    border-radius:20px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    background-color:#f1eeff;
}

.icons-img > img {
    width: 1000px;
    height: 250px;
    background-position: center 1200px;
    background-size: cover;
    margin-left:235px;
}

.top_profiles {
    width: 100%;
    height:70px;
    display: flex;
    margin-top:15px;
    gap:10px;
    justify-content: center;
}

.profile_1 {
    height:40px;
    width: 150px;
    display: flex;
    align-items: center;
    gap:5px;
    border:2px solid gray;
    border-radius:40px;
    padding-left:10px;
}


.top_profiles2 {
    width: 100%;
    height:70px;
    display: flex;
    margin-top:5px;
    gap:10px;
    justify-content: center;
}

.profile_2   {
    height:40px;
    width: 150px;
    display: flex;
    align-items: center;
    gap:5px;
    border:2px solid gray;
    border-radius:40px;
    padding-left:10px;
}

.icon i {
    border:2px solid gray;
    border-radius:20px;
    display: flex;
    padding:3px 5px;
    text-align: center;
    height: 30px;
    width: 30px;
} 

.icon {
    margin-left:10px;
}


.career-card {
    width: 100%;
    height: 300px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top:20px;
    background-color:#f1eeff;
}

.caree-1 {
    margin-top:10px;
     width:300px;
    height:200px;
     border:2px solid gray;
    border-radius:20px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    background-color:#f1eeff;
}

.career-cards {
    width: 100%;
    height: 300px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    gap:20px;
    background-color:#f1eeff;
}

.career {
     width:300px;
    height:200px;
     border:2px solid gray;
    border-radius:20px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    background-color:#f1eeff;
}


 .final_section{
     width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    gap:60px;
    margin-top:40px;
 }

 .left > img {
       width:480px;
       height:300px;

      /* background-image: url('./Assets/left.png');
    background-size: cover;
    background-position: center center;
    flex: 1;
    margin: top 10px; */
 }

 .right > img {

     width:480px;
       height:284px;
     /* flex: 1;
    background-image: url('./Assets/right.png');
    background-size: cover;
    background-position: center center; */
 }

                                                                    /* Footer  */
    




.footer {
  background: linear-gradient(180deg, #5b3df5, #8f4cf3);
  color: #fff;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left {
  width: 60%;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.logo span {
  font-weight: 300;
}

.tagline {
  margin: 10px 0 20px;
  font-size: 16px;
}

.description {
  max-width: 500px;
  line-height: 1.6;
  font-size: 15px;
}

.follow-title {
  margin-top: 40px;
  font-size: 20px;
}

.social-icons {
  margin-top: 15px;
  display: flex;
  gap: 30px;
  font-size: 22px;
}

.footer-right {
  width: 30%;
}

.footer-right h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-right p {
  margin-bottom: 15px;
  font-size: 15px;
}

.email {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-bottom {
  background: rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

/* .icons-img {
    margin-left:10px;
    margin-right: 10px;
} */




/* .middle-card {
    width: 337px;
    height: 440px;
    background-color: #009fdb;
    border: 2px solid black;
    border-radius:10px;
}
.right-card {
    width: 337px;
    height: 440px;
    background-color: #009fdb;
    border: 2px solid black;
    border-radius:10px; */
/* } */

   




